body,
html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    width: 90%;
    margin: auto;
}

.header_container {
    width: 100%;
    background-color: #fff;
}

.header {
    padding-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    grid-template-rows: auto;
    height: 27px;
    padding-bottom: 45px;
    font-size: x-large;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    border-block-end-style: ridge;
    border-width: revert;
    color: #5e879d;
}

.header i:hover {
    color: #888;
    opacity: 80%;
}

.nav ul {
    list-style: none;
    background-color: #fff;
    text-align: center;
    padding: 0;
    margin: 0 auto 0 auto;
    border-radius: 2px;
    width: 100%;
}

.nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #5e879d;
    display: block;
    transition: 0.3s background-color;
}

.nav a:hover {
    background-color: #9e9e9eb9;
}

.nav a.active {
    background-color: rgb(201, 198, 198);
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .header {
        font-size: xx-large;
    }
    .nav ul {
        min-width: 300px;
    }
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        display: inline-block;
        margin-right: 9px;
        margin-left: 9px;
        width: fit-content;
    }
}

#links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.main {
    width: 100%;
    margin: auto;
    display: flex;
}

#sections {
    height: 300px;
    max-width: 300px;
    min-width: 300px;
}

#sections:hover {
    background-color: #ddd;
    opacity: 80%;
}

.sectionsImage {
    height: 85%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    border-color: silver;
    border-width: 0.5px;
    border-style: solid;
    box-shadow: 2px 1px #362d2d2e;
}

.sectionsImage_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.sectionsInfo {
    height: fit-content;
    background: #ffffff;
    min-width: 180px;
}

.sectionsInfo a {
    display: block;
    color: #1e1e27;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
}

.image_container {
    width: 100%;
    height: 450px;
    background-size: inherit;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #fff;
    background-position: center;
}

.image_content {
    width: 40%;
    color: #00102f;
    text-align: left;
    margin-left: 57%;
    margin-top: 18%;
}

.image_content_B {
    width: 40%;
    color: #00102f;
    text-align: left;
    margin-left: 3%;
    margin-top: 32%;
}

.image_content_C {
    width: 40%;
    color: #00102f;
    text-align: left;
    margin-left: 13%;
    margin-top: 32%;
}

.image_content h2 {
    font-weight: 400;
    line-height: 1;
}

.shop_button {
    background-color: rgba(255, 255, 255, 0.651);
    background-size: cover;
    border-style: solid;
    width: fit-content;
    padding: 5px;
    color: #00102f;
    border-radius: 2px;
}

.shop_button:hover {
    background-color: #9e9e9eb9;
}

.shop-button:active {
    opacity: 80%;
    transform: translateY(1px);
}

.modal_page-bgc {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_page-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal_page-area {
    width: 90%;
    margin: auto;
    height: 100%;
}

.modal_page-image {
    width: 90%;
    height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://cdn.mos.cms.futurecdn.net/9nAad5zR5FnLHeyxwEfECJ-1024-80.jpg.webp");
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #fff;
    background-position: left;
}

.modal_page-title {
    display: grid;
    margin: 15px 0px 15px 92px;
    grid-template-columns: 83% 17%;
    font-weight: 500;
}

.dropbtn {
    background-color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:active {
    transform: rotateY(2px);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 108px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
    display: block;
    font-size: smaller;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #717171;
}

.modal_page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    width: 89%;
    margin-right: auto;
    row-gap: 13px;
    gap: 20px;
}

.modal_page-item {
    border-style: solid;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 200px;
    border-color: silver;
    box-shadow: 1px 1px silver;
    border-width: 1px;
}

.modal_page-itemImg {
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 4px;
}

.modal_page-itemInfo {
    display: grid;
    height: fit-content;
    gap: 10px;
    margin-left: 5%;
    margin-top: 5%;
}

.modal_page-itemButton {
    border-style: solid;
    width: fit-content;
    padding: 4px;
    border-width: 2px;
    border-radius: 3px;
    border-color: #5e879d;
    background-color: #5e879d;
    color: #fff;
}

.modal_page-itemButton:active {
    opacity: 80%;
    transform: translateY(1px);
}

.modal_Basket-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal_Basket-box {
    height: 74%;
    width: 75%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-color: silver;
    border-style: solid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 70% 20%;
    border-radius: 6px;
}

.modal_Basket-boxHeader {
    display: grid;
    background-color: #5e879d;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    font-size: large;
    font-weight: 500;
    color: white;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 37px;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

.Modal_Basket-body {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.checkout {
    display: block;
    grid-template-columns: 1fr;
    width: 16%;
    height: 10%;
    margin-right: 20px;
    margin-left: auto;
}

.checkout-button {
    border-radius: 5px;
    border-color: #5e879d;
    margin-top: 10px;
    border-style: solid;
    text-align: center;
    background-color: #5e879d;
    color: #ffffff;
}

.checkout-button:hover {
    opacity: 80%;
}

.checkout-button:active {
    opacity: 80%;
    transform: translateY(1px);
}

.label {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.text {
    font-size: x-small;
    color: red;
}

.text:hover {
    color: #444
}

.text:active {
    transform: rotateY(1px);
    color: #00102f
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.0s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

* {
    box-sizing: border-box;
}

.mySlides {
    display: none;
    width: 100%;
    height: 450px;
    background-size: inherit;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #fff;
    background-position: center;
}

img {
    vertical-align: middle;
}

.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-box-confirm {
    height: 20%;
    width: 20%;
    background-color: #ffffff;
    padding-top: 10px;
    padding-right: 2rem;
    padding-bottom: 10px;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    display: grid;
    justify-content: center;
}