body,
html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    width: 90%;
    margin: auto;
}

.header_container {
    width: 100%;
    background-color: #fff;
}

.header {
    padding-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    grid-template-rows: auto;
    height: 27px;
    padding-bottom: 20px;
    font-size: x-large;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    border-block-end-style: ridge;
    border-width: revert;
    color: #5e879d;
}

.header i:hover {
    color: #888;
    opacity: 80%;
}

.main {
    width: 100%;
    margin: auto;
    display: flex;
}

.modal-grid {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    row-gap: 76px;
}

.modal-item {
    height: 182px;
    width: 144px;
}

.box-Image {
    height: 144px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 3px #362d2d2e;
}

.box-Image-top {
    height: 100px;
    max-height: 100%;
}

.box-Image:hover {
    background-color: #ddd;
    opacity: 80%;
}

.box-link {
    padding-top: 1px;
    padding-left: 1px;
    height: fit-content;
    max-width: 100px;
    white-space: normal;
    overflow-wrap: normal;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px 0px 5px 5px;
    word-break: break-word;
    line-height: 1.25;
    font-weight: 400;
    font-size: 12px;
    vertical-align: top;
    font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    letter-spacing: -0.5px;
    display: grid;
}

.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box-add {
    height: 71%;
    width: 85%;
    background-color: #ffffff;
    padding: 12px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    max-width: 462px;
    max-height: 500px;
    box-shadow: 5px 3px #362d2d2e;
}

.box-header {
    display: grid;
    grid-template-columns: 95% 5%;
    padding: 0px 10px 8px 20px;
    font-size: x-large;
    font-weight: 700;
    color: #5e879d;
}

.additem {
    border-color: silver;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    height: 87%;
    width: 95%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 87%;
}

.modal-box-confirm {
    height: 20%;
    width: 20%;
    background-color: #ffffff;
    padding-top: 10px;
    padding-right: 2rem;
    padding-bottom: 10px;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    display: grid;
    justify-content: center;
}

.form {
    display: grid;
    padding: 10px;
    font-size: initial;
    font-weight: 700;
    color: #474141;
    line-height: 1.65;
}

form label {
    padding: 7px 0px 2px 0px;
}

form input {
    font-size: inherit;
}

form button {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    margin-top: 28px;
    font-size: inherit;
    color: #474141
}